<div class="container">
    <div class="well well-sm">
      <form class="form-inline" style="margin-top: 1em;">
        <div>
          <input type="text" placeholder="name" class="form-control" name="name" [(ngModel)]="thing.name">
          <input type="text" placeholder="value" class="form-control" name="value" [(ngModel)]="thing.value">
        </div>
        <div style="margin-top: 1em;overflow:auto">
          <span (click)="updateThing()" class="btn btn-sm btn-primary  pull-left">Update</span>
          <span (click)="deleteThing()" class="btn btn-sm btn-danger pull-left" style="margin-left:1em;">Delete</span>
          <span (click)="cancel()" class="btn btn-sm btn-warning pull-right">Cancel</span> 
        </div>
     </form>
  </div>
</div>
  

