<div class="form-inline" style="display:inline-block">
    <input type="text" id="name" placeholder="name" class="form-control" [(ngModel)]="newThing.name">
    <input type="text" id="value" placeholder="value" class="form-control" [(ngModel)]="newThing.value">
    <span (click)="thingCreate($event)" class="btn btn-sm btn-primary">+</span>
</div>