<div class="container background" style="height:1vh">
  <div class="things-title">Things</div>
  <form id="login-form" class="pull-right">
    <h3>Howdy Partner</h3>                      
    <div>
      <div>
        <div class="form-group">
          <label for="lg_username" class="sr-only">Username</label>
          <input type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="username">
        </div>
        <div class="form-group">
          <label for="lg_password" class="sr-only">Password</label>
          <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="password">
        </div>
      </div>
      <button type="submit" (click)="login($event)" class="btn btn-primary btn-sm">Login
        <i class="glyphicon glyphicon-chevron-right"></i>
      </button>
    </div>
  </form>
</div>