#login-form {
    max-width : 600px;
    min-width: 300px;
    padding: 15px;
    background-color : #eee;
    border-radius: .5em;
    margin-top: 1em;
}

.things-title {
    font-size: 400%;
    text-shadow : 3px 3px 3px black;
    font-family : 'Montserrat', sans-serif;
    font-weight : bold;
    color : white;
    letter-spacing : 3px;
}

.background {
    background-image: url("../../assets/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* rescales the image to cover the window */
    background-color: #464646; /* shown during image load */
  }