<h1>Sent in Request</h1>
<table class="table table-condensed table-striped" style="min-width: 40em;width: 40% !important;">
   <tr>
      <th *ngFor="let prop of props.slice(0,2)">
         {{prop}}
      </th>      
   </tr>

   <tr *ngFor="let c of state?.received">
      <td >{{c.name}}</td>
      <td>{{c.value}}</td>
   </tr>
</table>

<h1>All Cookies Set by Server</h1>
<table class="table table-condensed table-striped">
   <tr>
      <th *ngFor="let prop of props">
         {{prop}}
      </th>      
   </tr>

   <tr *ngFor="let c of state?.set">
      <td >{{c.name}}</td>
      <td>{{c.value}}</td>
      <td *ngFor="let prop of props.slice(2)">{{c.attrs[prop]}}</td>

   </tr>
</table>

<form>
   
   <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input type="text" [(ngModel)]="cookie.name" placeholder="name" name="name" id="nameInput" class="form-control">
   </div>

   <div class="mb-3">
      <label for="valueInput" class="form-label">Value</label>
      <input type="text" [(ngModel)]="cookie.value" placeholder="value" name="value" id="valueInput" class="form-control">
   </div>

   <div class="mb-3">
      <label for="domainInput" class="form-label">Domain</label>
      <input type="text" [(ngModel)]="cookie.domain" name="domain" class="form-control">
   </div>

   <div class="mb-3">
      <label for="pathInput" class="form-label">Path</label>

      <div class="input-group">
         <span class="input-group-text" id="basic-addon1">/api/v1/</span>      
         <input type="text" [(ngModel)]="cookie.path" name="path" class="form-control" >
      </div>
   </div>

   <div class="mb-3">
      <label for="expiresInput" class="form-label">Expires</label>
      <input type="date" [(ngModel)]="cookie.expires" name="expires" class="form-control">
   </div>

   <div class="mb-3">
      <label for="maxAgeInput" class="form-label">MaxAge</label>
      <input type="integer" [(ngModel)]="cookie.maxAge" name="maxAge" class="form-control">
   </div>

   <div class="mb-3 form-check">
      <input type="checkBox" [(ngModel)]="cookie.httpOnly" name="httpOnly" id="httpOnly" class="form-check-input">
      <label for="httpOnlyInput" class="form-check-label">HttpOnly</label>

   </div>

   <div class="mb-3 form-check">
      <input type="checkbox" [(ngModel)]="cookie.secure" name="secure" class="form-check-input">
      <label for="secureInput" class="form-check-label">Secure</label>
   </div>

   <div class="mb-3 form-check">
      <input type="checkbox" [(ngModel)]="cookie.sameSite" name="sameSite" class="form-check-input">
      <label for="sameSiteInput" class="form-check-label">SameSite</label>
   </div>

</form>

<button class="btn btn-primary btn-small" (click)="createCookie()">Submit</button>
<button style="margin-left: 2em" class="btn btn-primary btn-small" (click)="clear()">Clear</button>


<div class="mb-3" style="margin-top: 3em;">
   <label for="pathcheckInput" class="form-label">Path to Check</label>
   <div class="input-group">
      <span class="input-group-text" id="basic-addon1">/api/v1/</span>  
      <input type="text" [(ngModel)]="pathToCheck" placeholder="path to check" name="pathToCheck" id="pathcheckInput" class="form-control">
   </div>
</div>
<button class="btn btn-success btn-small" (click)="checkPath()">Check Path</button>

