<div class="container">
   <div class="card">
      <form class="form-inline">
         <input type="text" name="name" placeholder="name" class="form-control" [(ngModel)]="newThing.name">
         <input type="text" name="value" placeholder="value" class="form-control" [(ngModel)]="newThing.value">
         <span (click)="createThing()" class="btn btn-sm btn-primary">+</span>
         <span (click)="retrieveThings()" class="btn btn-sm btn-primary glyphicon glyphicon-refresh">Refresh</span>
         <div class="input-group pull-right">
            <input name="filter" type="text" class="form-control" placeholder="search for..." [(ngModel)]="filter">
            <span class="input-group-btn">
               <button class="btn btn btn-primary" (click)="searchThings()">
                  <span class="glyphicon glyphicon-search">Search</span>
               </button>
            </span>
         </div>
      </form>
   </div>

   <table class="table table-condensed">
      <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Value</th>
      </tr>
      <tr *ngFor="let thing of things">
         <td><a [routerLink]="['/things', thing.id]">{{thing.id}}</a></td>
         <td>{{thing.name}}</td>
         <td>{{thing.value}}</td>
      </tr>
   </table>
</div>