<div id="editModal">
  <h2>Detail</h2>
  <div class="well well-sm">
    <form class="form-inline" style="margin-top: 1em;">
      <div>
        <input type="text" placeholder="name" class="form-control" ng-model="thing.name">
        <input type="text" placeholder="value" class="form-control" ng-model="thing.value">
      </div>
      <div style="margin-top: 1em;overflow:auto">
        <span ng-click="updateThing()" class="btn btn-sm btn-primary  pull-left">Update</span>
        <span ng-click="deleteThing()" class="btn btn-sm btn-danger pull-left">Delete</span>
        <a ng-href="/things" class="btn btn-sm btn-warning pull-right">Cancel</a>
      </div>
    </form>
  </div>
</div>
