<div>
  <h2>Things</h2>
  <div class="well well-sm">
    <form class="form-inline">
      <input type="text" placeholder="name" class="form-control" ng-model="newThing.name">
      <input type="text" placeholder="value" class="form-control" ng-model="newThing.value">
      <span ng-click="createThing()" class="btn btn-sm btn-primary">+</span>
      <span ng-click="retrieveThings()" class="btn btn-sm btn-primary glyphicon glyphicon-refresh"></span>
      <div class="input-group pull-right">
        <input type="text" class="form-control" placeholder="search for..." ng-model="filter">
        <span class="input-group-btn">
          <button class="btn btn btn-primary" ng-click="searchThings()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
  
  <table id="table" class="table table-condensed">
    <tr><th>Id</th><th>Name</th><th>Value</th></tr>
    <tr ng-repeat="thing in things">
      <td><a ng-href="/things/{{thing.id}}">{{thing.id}}</a></td><td>{{thing.name}}</td><td>{{thing.value}}</td>
    </tr>
  </table>
  
</div>
