<div class="container">
  <div class="well well-sm">
    <span>Welcome to your things</span>
    <span class="btn btn-xs btn-default pull-right" style="display:inline-block;" (click)="logout()">logout</span>
    <span class="pull-right" id="email" style="margin-right: 1em;">{{userService.getUser().email}}</span>
  </div>
  
  <div class="well well-sm">
    <app-thing-create (onThingCreate)="thingCreate($event)"></app-thing-create>
    
  </div>

  <div class="well well-sm">
    <div class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="search for..." id="search" [(ngModel)]="filter">
        <span class="input-group-btn">
          <button class="btn btn btn-primary" (click)="searchThings()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <span (click)="retrieveThings()" class="btn btn-primary glyphicon glyphicon-refresh"></span>              
    </div>
    
  </div>
  
    <div>
      <table class="table table-condensed">
        <tr><th>id</th><th>name</th><th>value</th></tr>
        <tr *ngFor="let thing of things">
            <td><a [routerLink]="['/home/things', thing.id]">{{thing.id}}</a></td>
            <td>{{thing.name}}</td>
            <td>{{thing.value}}</td>
            <td><i class="btn glyphicon glyphicon-trash btn-danger btn-xs" (click)="deleteThing(thing)"></i></td>
        </tr>
      </table>
    </div>
  </div>