<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html"/>
	<title>Survey</title>
	<link rel="stylesheet" href="css/survey.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.js" 
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="  
			crossorigin="anonymous" type="text/javascript">
	</script>
	<script src="js/survey.js" type="text/javascript"></script>
</head>
<body>

	<h2>Favorites</h2>
	<table class="table table-condensed">
		<tr>
			<th>Topic</th>
			<th>Count</th>
		</tr>
		<tr th:each="topicEntry : ${topics}">
			<td th:text="${topicEntry.key}"></td>
			<td th:text="${topicEntry.value}"></td>
		</tr>
	</table>


	<h2>Status</h2>
	<table class="table table-condensed">
		<tr>
			<th>Status</th>
			<th>Count</th>
		</tr>
		<tr th:each="statusEntry : ${statuses}">
			<td th:text="${statusEntry.key}"></td>
			<td th:text="${statusEntry.value}"></td>
		</tr>
	</table>
</body>
</html>