<div class="container">
<div class="card">
   <form class="form-inline">
      <input type="text" name="name" placeholder="name" class="form-control" [(ngModel)]="thing.name">
      <input type="text" name="value" placeholder="value" class="form-control" [(ngModel)]="thing.value">
   </form>
</div>
</div>